/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers { compatible = "zmk,conditional-layers"; };

    behaviors {
        BT_DEV_CHOICE: BT_DEV_CHOICE {
            compatible = "zmk,behavior-sensor-rotate";
            label = "BT_DEV_CHOICE";
            #sensor-binding-cells = <0>;
            bindings = <&bt BT_PRV>, <&bt BT_NXT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        LAYER {
            display-name = "LAYER";

            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  DEL  |
            // |   `   |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  | PLAY_PAUSE |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  SPACE |  | ENTER | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&kp ESC    &kp N1  &kp N2    &kp N3    &kp N4       &kp N5                                          &kp N6       &kp N7     &kp N8     &kp N9   &kp N0    &kp BACKSPACE
&kp TAB    &kp Q   &kp W     &kp E     &kp R        &kp T                                           &kp Y        &kp U      &kp I      &kp O    &kp P     &kp BSLH
&kp LCTRL  &kp A   &kp S     &kp D     &kp F        &kp G                                           &kp H        &kp J      &kp K      &kp L    &kp SEMI  &kp ENTER
&kp LSHFT  &kp Z   &kp X     &kp C     &kp V        &kp B        &kp C_MUTE       &kp C_PLAY_PAUSE  &kp N        &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp SQT
                   &kp LGUI  &kp LALT  &kp K_CMENU  &lt 1 SPACE  &kp BACKSPACE    &kp SPACE         &lt 2 SPACE  &kp MINUS  &kp EQUAL  &kp DEL
            >;

            sensor-bindings = <&inc_dec_kp RIGHT LEFT>, <&inc_dec_kp UP DOWN>;
        };

        lower_layer {
            display-name = "LOWER_LAYER";

            // TODO: Some binds are waiting for shifted keycode support.
            // ------------------------------------------------------------------------------------------------------------
            // |       |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  F12  |
            // |       |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   |   |
            // |  CLCK |  =  |  -  |  +   |  {   |  }   |        |  |       |  [   |  ]    |  ;    |  :   |   \   | CLCK  |
            //               |     |      |      |      |        |  |       |      |       |       |      |

            bindings = <
&kp F12    &kp F1     &kp F2     &kp F3     &kp F4    &kp F5                           &kp F6     &kp F7    &kp F8    &kp F9     &kp F10   &kp F11
&kp N0     &kp N1     &kp N2     &kp N3     &kp N4    &kp N5                           &kp N6     &kp N7    &kp N8    &kp N9     &kp LBKT  &kp RBKT
&kp GRAVE  &kp EXCL   &kp AT     &kp HASH   &kp DLLR  &kp PRCNT                        &kp CARET  &kp AMPS  &kp UP    &kp LPAR   &kp RPAR  &kp PIPE
&trans     &kp EQUAL  &kp MINUS  &soft_off  &kp LBRC  &kp RBRC   &trans      &trans    &kp LBKT   &kp LEFT  &kp DOWN  &kp RIGHT  &kp BSLH  &trans
                      &trans     &trans     &trans    &trans     &kp BSPC    &kp BSPC  &kp BSPC   &trans    &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        BLE_LAYER {
            display-name = "BLE_LAYER";
            bindings = <
&kp F1      &kp F2        &kp F3        &kp F4        &kp F5        &kp F6                              &kp F7     &kp F8          &kp F9           &kp F10    &kp F11   &kp F12
&kp N1      &kp N2        &kp N3        &kp N4        &kp N5        &kp N6                              &kp N7     &kp N8          &kp N9           &kp N0     &kp LBKT  &kp RBKT
&kp GRAVE   &kp EXCL      &kp AT        &kp HASH      &kp DLLR      &kp PRCNT                           &kp CARET  &kp AMPS        &kp UP           &kp LPAR   &kp RPAR  &kp PIPE
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans      &trans    &kp LBKT   &kp LEFT        &kp DOWN         &kp RIGHT  &kp BSLH  &trans
                          &bl BL_ON     &bl BL_OFF    &bl BL_INC    &kp BSPC      &kp BSPC    &kp BSPC  &trans     &rgb_ug RGB_ON  &rgb_ug RGB_OFF  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>, <&BT_DEV_CHOICE>;
        };
    };
};
